<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Kurs xxx</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Başlangıç Eğitimi</ion-card-subtitle>
      <ion-card-title>A1 </ion-card-title>
    </ion-card-header>
  
    <ion-card-content> 
      <ion-item>
        <ion-label>Eğitim İçeriği <p>Some more explanatory text</p></ion-label>
        <ion-label slot="end" class="ion-text-right">250/0</ion-label>
      </ion-item>
      <ion-list lines="inset">
      <ion-item [ngStyle]="{ 'color': training.is_active ? 'rgba(200,0,0,0.3)' : '' }" *ngFor="let training of trainings; let i = index;" (click)="goToTraining(training.id, training.is_active)" >
        <ion-label>
          {{training.name}}
        </ion-label>
      </ion-item>
      <ion-item *ngFor="let quiz of quizzes; let i = index"  (click)="goToQuiz(quiz.id, quiz.is_active)">
        <ion-label>
          {{quiz.name}}
        </ion-label>
      </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

 
</ion-content>
