<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Kurs xxx</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Başlangıç Eğitimi</ion-card-subtitle>
      <ion-card-title>A1 </ion-card-title>
    </ion-card-header>
  
    <ion-card-content> 
      <ion-item>
        <ion-label>Eğitim İçeriği<p>Some more explanatory text</p></ion-label>
        <ion-label slot="end">250/0</ion-label>
      </ion-item>
      <ion-list lines="inset">
      <ion-item (click)="goToTraining(1)">
        <ion-label>
          Başlangıç Eğitimi
        </ion-label>
      </ion-item>
      <ion-item (click)="goToQuiz(1)">
        <ion-label>
          Quiz 1
        </ion-label>
      </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

 
</ion-content>
