<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>

    <ion-card style="width: 100%">
      <ion-item>
        <ion-icon name="unlock" slot="start"></ion-icon>
        <ion-label>Ders 1 (Merhaba!)</ion-label>
        <ion-button fill="outline" slot="end">Başla</ion-button>
      </ion-item>
    
      <ion-card-content>
        This is content, without any paragraph or header tags,
        within an ion-card-content element.
      </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card style="width: 100%">
      <ion-item>
        <ion-icon name="unlock" slot="start"></ion-icon>
        <ion-label>Ders 1 (Merhaba!)</ion-label>
        <ion-button fill="outline" slot="end">Başla</ion-button>
      </ion-item>
    
      <ion-card-content>
        This is content, without any paragraph or header tags,
        within an ion-card-content element.
      </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card style="width: 100%">
      <ion-item>
        <ion-icon name="unlock" slot="start"></ion-icon>
        <ion-label>Ders 1 (Merhaba!)</ion-label>
        <ion-button fill="outline" slot="end">Başla</ion-button>
      </ion-item>
    
      <ion-card-content>
        This is content, without any paragraph or header tags,
        within an ion-card-content element.
      </ion-card-content>
    </ion-card>
  </ion-slide>
</ion-slides>