<ion-slides pager="true" [options]="slideOpts">
  <ion-slide *ngFor="let lesson of lessons; let i = index;">

    <ion-card style="width: 100%">
      <ion-item>
        <ion-icon name="unlock" slot="start"></ion-icon>
        <ion-label>{{lesson.name}}</ion-label>
        <ion-button fill="outline" slot="end" (click)='goToLesson(lesson.id)'>Başla</ion-button>
      </ion-item>
    
      <ion-card-content>
        {{lesson.description}}
      </ion-card-content>
    </ion-card>
  </ion-slide>
  
</ion-slides>