<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Eğitim xxx</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    
<ion-slides pager="true" [options]="slideOpts">
  <ion-slide *ngFor="let training_content of training_contents; let i = index" >
    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-label slot="start">{{training_content.content.german}}</ion-label>
          <ion-item>
            <span slot="start">{{training.name}}</span>
            <ion-img slot="end" [src]="training_content.image_url"></ion-img>
          </ion-item>
          <ion-label slot="start">{{training_content.content.turkish}}</ion-label>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-slide>
</ion-slides>
  </ion-row>

<ion-row>
  <ion-col>
    <ion-button expand="block" (click)="confirmDialog()">Eğitimi Bitir</ion-button>
  </ion-col>
</ion-row>

</ion-content>