<ion-header>
  <ion-toolbar>
    <ion-title>quiz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-slides #slides>
  
      <ion-slide class="start-slide">
        <button ion-button color="primary" (click)="nextSlide()">Başla!</button>
      </ion-slide>
  
      <ion-slide *ngFor="let question of questions; let i = index;">
        <el-row>
          <el-col>
            <h2>Question {{i+1}}</h2>
          </el-col>
          <el-col>
            <ion-img [src]="'http://www.istantbul.com/'+question.image_url"></ion-img>
          </el-col>
          <el-col>
            <h2>{{question.name}}</h2>
          </el-col>
          <el-col>
            <ion-list no-lines radio-group>
  
              <ion-item *ngFor="let answer of question.answers; let i = index;">
      
                <ion-label>{{i+1}}. {{answer.answer}}</ion-label>
                <ion-radio (click)="selectAnswer(answer, question)" [checked]="answer.selected" [disabled]="hasAnswered"></ion-radio>
      
              </ion-item>
      
            </ion-list>
          </el-col>
        </el-row>
      </ion-slide>
  
      <ion-slide>
        <button (click)="restartQuiz()" ion-button full color="primary">Testi Bitir</button>
      </ion-slide>
  
    </ion-slides>
  
</ion-content>
