<ion-header>
    <ion-toolbar>
      <!-- <ion-title>landing</ion-title> -->
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Hemen Başla</ion-card-subtitle>
        <ion-card-title>Kolay Almanca</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Kolay Almanca</p>
      </ion-card-content>
    </ion-card>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
        <ion-row>
          <ion-col>
            <ion-button color="primary" expand="full" color="primary" (click)="login()">Login</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="primary" expand="full" color="danger" (click)="register()">Register</ion-button>
          </ion-col>
        </ion-row>
    </ion-toolbar>